.students {
	background-image: url('https://cdn.pixabay.com/photo/2015/12/08/00/26/desk-1081708_960_720.jpg');
	height: 100%;

  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.competencies {

}

.competency {

}